<%- layout('layouts/boilerplate') %>


<div class="col-6 offset-3">
    <div class="text-center mb-5">
        <h1>Camp Information</h1>
    </div>
    <div class="card text-center mb-5" style="width: 40rem;">
        <img src="<%= camp.image %>" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title"><%= camp.name %></h5>
            <p class="card-text"><%= camp.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><%= camp.location %></li>
            <li class="list-group-item"><%= camp.industry %></li>
            <li class="list-group-item">$<%= camp.price %></li>
        </ul>
        <div class="card-body">
            <div class="card-body">
                <a class="card-link btn btn-warning" href="/camps/<%= camp._id %>/edit">Edit</a>
                <form class="d-inline" action="/camps/<%= camp._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                <a href="/camps" class="card-link d-block">All Camps</a>
            </div>
        </div>
    </div>
</div>