<%- layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center"><%= title %> </h1>
    <div class="col-6 offset-3">
        <form action="/customers/<%= customer.id %>?_method=PUT" method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Name: </label>
                <!-- Declare as shown in name to encapsulate body result under customer. -->
                <input class="form-control" type="text" name="customer[name]" id="name" value="<%= customer.name %>">
            </div>
            <div class=" mb-3">
                <label class="form-label" for="Industry">Industry: </label>
                <input class="form-control" type="text" name="customer[industry]" id="industry"
                    value="<%= customer.industry %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location: </label>
                <input class="form-control" type="text" name="customer[location]" id="location"
                    value="<%= customer.location %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" name="customer[image]" id="image" value="<%= customer.image %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="sales">Customer Sales</label>
                <div class="input-group">
                    <span class="input-group-text" id="sales-label">$</span>
                    <input class="form-control" type="number" id="price" value="<%= customer.sales %>"
                        aria-label="sales" aria-describedby="price-label" name="customer[sales]">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="number" name="customer[description]"
                    id="description"><%= customer.description %></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Update Details</button>
            </div>
        </form>
        <div>
            <a href="/customers/<%= customer.id %>">Back to Customer</a>
        </div>
    </div>
</div>