<%- layout('layouts/boilerplate') %>

<div>
    <h1><%= customer.name %> </h1>
    <h2><%= customer.industry %></h2>
</div>

<a href="/customers/<%= customer._id %>/edit">Edit</a>

<form action="/customers/<%= customer._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>

<a href="/customers">All Customers</a>